*{
    margin: 0;
    padding: 0;
}
#main{
    height: 100vh;
}
#subdiv h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#subdiv p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 17px; 
}
.form-check a{
    text-decoration: none;
}
button{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900 !important;
}
button:hover{
    background-color: blue !important;
}
